@media only screen and (min-width: 375px) {
  #login-form {
    padding: 0 2rem 0 2rem !important; /* tells the browser padding is important when it hits 375px breakpoint */
    border: 1px solid hsl(256, 22%, 90%);
    border-radius: 2%;
    box-shadow: 0 0 10px hsl(256, 22%, 90%);
  }
}